.heading{
  color: rgb(122, 145, 161);
  font-weight: 600;
}
.sub-heading{
  font-size: 18px;
  font-weight: 700;
}
.form-heading{
  font-weight: 700;
  margin-top: 3%;
}

.form{
  background-color: #fff;
  /* width: 60%; */
  width: 50%;
  padding: 4px;
}

.sub-container{
  display: flex;
  margin-top: 2%;;

}