.heading{
    color: rgb(122, 145, 161);
    font-weight: 600;
  }
  .sub-heading{
    font-size: 18px;
    font-weight: 700;
  }
  .table{
    width: 100%;
    padding: 4px;
  }
  .form-heading{
    font-weight: 600;
    font-size: 14px;
  }
.table-heading{
    color: rgb(122, 145, 161);
    font-size: 12px;
    font-weight: 600;
  
}
.button-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
    
    }
    
    .part{
      display: flex;
    }
    .left-part{
      width: 50%;
      padding: 4px;
    }
    .right-part{
      padding: 8px;
      width: 50%;
    }