.mergeButton{
    margin-bottom: 10px !important;
    padding: 10px 20px !important;
   
}
.alignRight{
    display: flex;
    justify-content: flex-end;
}

/* Define classes for different row colors */
tr.lightblue {
    background-color: #77ff00 !important; /* Light green */
  }
  
tr.lightcyan {
    background-color: #bae7ff !important; /* Light blue */
  }
  